.animateBeam {
  opacity: 0;
  transform: translate(-72%, -62%) scale(0.5);
  animation: beam 2s 0.75s ease 1 forwards;
}

@keyframes beam {
  to {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

/* portrait */
@media (orientation: portrait) {
  .animateBeam {
    opacity: 0;
    transform: translate(-62%, -40%) scale(0.5);
    animation: beam 2s 0.75s ease 1 forwards;
  }
}

/* tablet */
@media (max-width: 1025px) {
  @keyframes beam {
    to {
      opacity: 1;
      transform: translate(-40%, -40%) scale(1);
    }
  }
}
